NODE_ENV=development
PORT=3000

VK_TEAMS_BOT_TOKEN=
VK_TEAMS_API_BASE_URL=https://teams.vk.com

YANDEX_TRACKER_TOKEN=
YANDEX_TRACKER_API_BASE_URL=https://api.tracker.yandex.net
YANDEX_TRACKER_ORG_ID=
